<!-- partials/footer.html -->
<footer class="bg-paragon-dark-blue text-white py-10 px-4">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center text-center md:text-left">
    <div class="mb-4 md:mb-0">
      <img src="{{BASE}}img/logo-paragon.png" alt="Logo Paragon Chile" class="h-12 mx-auto md:mx-0 rounded-md">
      <p class="text-sm mt-2">Paragon Project Partners SpA</p>
    </div>
    <div class="text-center md:text-right">
      <p class="text-sm mb-1">Dirección: Napoleón N° 3565 Of.904, Las Condes, Santiago, Chile</p>
      <p class="text-sm mb-1">Email: <a href="mailto:marcelo.diaz@paragon-chile.cl" class="hover:underline">marcelo.diaz@paragon-chile.cl</a></p>
      <p class="text-sm mb-1">Fono: +56229935424</p>
      <p class="text-sm mb-4">Cel: +56979400451</p>
      <p class="text-sm">&copy; <span id="current-year"></span> Paragon Project Partners. Todos los derechos reservados.</p>
      <a href="https://www.linkedin.com/company/paragon-project-partners" target="_blank" rel="noopener noreferrer" class="inline-block mt-4" aria-label="LinkedIn Footer">
        <svg class="w-8 h-8 text-white hover:text-paragon-light-blue transition-colors duration-300" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path fill-rule="evenodd" d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5v-14c0-2.761-2.239-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.367-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" clip-rule="evenodd"/>
        </svg>
      </a>
    </div>
  </div>
</footer>
